<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <div id="viewHome" data-dojo-type="dojox/mobile/View" selected="true">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/home.html'">
        </div>
    </div>
    <div id="viewGauges" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/guages.html'">
        </div>
    </div>
    <div id="viewSpinWheel" data-dojo-type="dojox/mobile/View">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/spinWheel.html'">
        </div>
    </div>
    <div id="viewPhoneInformation" data-dojo-type="app/widget/special/home/ViewPhoneInformation">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/phoneInformation.html'">
        </div>
    </div>
    <div id="viewImage" data-dojo-type="dojox/mobile/ScrollableView">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/image.html'">
        </div>
    </div>
    <div id="viewMarketOutlook" data-dojo-type="app/widget/special/home/ViewMarketOutlook">
        <div data-dojo-type="dojox/mobile/ContentPane" data-dojo-props="href: 'home/marketOutlook.html'">
        </div>
    </div>
</body>
</html>
